:host {
  display: block;
}

.bg-dark {
  background-color: #1a202c;
}

.text-light {
  color: #f7fafc;
}

.min-h-screen {
  min-height: 100vh;
}

body.dark {
  background-color: #1a202c;
  color: #f7fafc;
}
